# Include the README, et. al.
include *.md

# Include license and setup files
include LICENSE
include setup.py
include pyproject.toml

# include requirements files opened in setup.py
graft requirements
