# Minimum version constraint file for CI/CD testing This file should contain
# pinned versions of the mimimum bounds from pyproject.toml's dependencies
# block.

python-dateutil==2.9.0
python-dotenv==1.1.0
progressbar2==4.2.0
requests==2.32.3
curlify==2.2.1
shapely==2.1.2
